<header>
    <a href="/">Home</a>
    <a href="/sign">Sign</a>
    <a href="/send">Send</a>
    <a href="/template">Template</a>
    <a href="/resources">Resources</a>
    <p class="hidden">Hello API Event Received</p>    
    <p class="message"><%= message %></p>
</header>
