body {
    color: #777777;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto; 
    padding: 0 16px;
    background-color: azure;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 32px; 
    margin-bottom: 32px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1 {
    color: #888888;
    font-size: 48px;
    margin-bottom: 16px;
}

.hidden {
    color: azure; 
    border-top: 1px solid #eeeeee;;
}

h5 {
    color: #777777;
    font-size: 16px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px

}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;

}
/* h3 {
    color: #888888;
    font-size: 48px;
    margin-bottom: 16px;
} */

/* .submenu h3:hover {
    color: #333333;
}

.submenu ul {
    color: #888888;
    font-size: 20px;
}

.hidden {
    display: none;
} */
