<!DOCTYPE html>
<html>
    <%- include('partials/head', {title: "Hellosign Testing"}); -%>
    
    <body>    
        <div class="main-content">
                <h1>API Request Options</h1>
                
                <%- include('partials/header', {message: "This is Hellosign Embedded API testing tool!"}); -%>
        
        </div>

        <%- include('partials/footer'); -%>    
    </body>

</html>

