<!DOCTYPE html>
<html>
    <%- include('partials/head', {title: "Resources"}) -%>

    <body>
        <div class="main-content">
            <h1>Learning Resources</h1>

            <%- include('partials/header', {message:  "Here are some useful links."}); -%>

        </div>

        <%- include('partials/footer') -%>
    </body>
</html>
